@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url(reset.css);
.html, body {
  min-height: 100%;
  font-family: "Roboto";
  --text: #262626;
}

.link {
  display: inline-block;
  border-bottom: 1px solid var(--text);
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--text);
}
.link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  padding: 26px;
  display: flex;
  justify-content: space-between;
}
.header__cart {
  font-size: 13px;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__link {
  color: #262626;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0px, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.page__bullet_active {
  background-color: #fff;
}
.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.screen {
  flex: 1 0 100%;
  position: relative;
  color: var(--text);
  height: 100%;
}
.screen__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .screen__content {
    flex-direction: column;
  }
}
.screen__focus {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .screen__focus {
    width: 75%;
    height: 100%;
  }
}
.screen__img {
  height: 40vh;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .screen__img {
    flex: 1 1 auto;
    height: 100%;
  }
}
.screen__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.screen__caption {
  display: block;
  font-size: 20px;
  line-height: 1.28;
  letter-spacing: 0.5px;
  color: var(--text);
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .screen__caption {
    font-size: 25px;
    padding: 40px;
  }
}
.screen__side {
  width: auto;
}
@media (min-width: 768px) {
  .screen__side {
    width: 25%;
    min-width: 290px;
  }
}
.screen__title {
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.5px;
  color: var(--text);
  margin-bottom: 20px;
}
.screen__text {
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .screen__text {
    font-size: 14px;
    margin-bottom: 21px;
  }
}

.intro {
  background-color: #E7F066;
  --text: #262626;
}
.intro__side {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .intro__side {
    min-width: 270px;
    padding: 120px 35px 0 30px;
  }
}
@media (min-width: 992px) {
  .intro__side {
    min-width: 290px;
    padding: 120px 45px 0 40px;
  }
}
.intro__caption {
  padding-right: 0;
}

.right__caption {
  text-align: center;
}
@media (min-width: 768px) {
  .right__caption {
    text-align: right;
  }
}
.right__side {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 767px) {
  .right__side {
    padding: 20px;
    flex: 1 1 auto;
  }
}
.right__title {
  flex: 1 1 auto;
}

.candles {
  background: #9C8554;
  --text: #B2B2B2;
}

.two {
  --text: #262626;
}
@media (max-width: 767px) {
  .two {
    flex-direction: column;
  }
}
.two__item {
  position: relative;
  height: 50%;
}
@media (min-width: 768px) {
  .two__item {
    height: 100%;
    width: 50%;
  }
}
.two__link {
  position: absolute;
  z-index: 3;
  bottom: 40px;
  left: 40px;
}

.about {
  padding: 20px;
  background-color: #EBEBEB;
  --text: #262626;
}
@media (min-width: 768px) {
  .about {
    padding: 14.5vh 25px;
  }
}
.about__content {
  align-items: center;
}
@media (min-width: 768px) {
  .about__img {
    width: 60%;
  }
}
.about__side {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .about__side {
    margin-top: 0;
    padding: 0 0 0 30px;
    width: 40%;
  }
}
.about__caption {
  padding: 0;
  margin-top: 11px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .about__caption {
    margin-bottom: 39px;
    max-width: 234px;
  }
}
@media (min-width: 768px) {
  .about__text {
    max-width: 308px;
  }
}

.diffuser {
  background-color: #A26779;
  --text: #B2B2B2;
}

.mist {
  background-image: url(../img/jpg/mist.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 40px;
}
@media (min-width: 1200px) {
  .mist {
    background-image: url(../img/jpg/mist-2x.jpg);
  }
}
.mist__content {
  flex-direction: column;
  align-items: start;
  max-width: 278px;
}
.mist__title {
  margin-bottom: 11px;
}
.mist__caption {
  padding: 0;
  margin-bottom: 39px;
}
.mist__text {
  margin-bottom: 2px;
}

.wash {
  background-color: #504B4D;
  --text: #B2B2B2;
}

.industry {
  background-color: #B04836;
  --text: #B2B2B2;
}

.footer {
  background: #262626;
  --text: #CCCCCC;
  flex: auto;
  height: auto;
  padding: 48px 40px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}
.footer__text {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: var(--text);
}
@media (min-width: 480px) {
  .footer__square {
    width: 16px;
    height: 16px;
    background-color: var(--text);
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .footer__form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer__form input {
  background-color: #262626;
  border-top: 1px solid var(--text);
  padding: 8px 0;
  color: var(--text);
}
@media (min-width: 480px) {
  .footer__form input {
    margin-right: 20px;
  }
}
.footer__form input::-moz-placeholder {
  color: var(--text);
  opacity: 1;
}
.footer__form input:-ms-input-placeholder {
  color: var(--text);
  opacity: 1;
}
.footer__form input::placeholder {
  color: var(--text);
  opacity: 1;
}
.footer__form input:focus {
  background-color: #363636;
}
.footer__form button {
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--text);
  padding: 7px 0;
  background-color: #262626;
}
.footer__form button:focus {
  background-color: #363636;
}
.footer__form button:hover {
  background-color: #363636;
}/*# sourceMappingURL=style.css.map */